:root {
    --bgc: ;
}

html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Container */

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      'header'
      'main'
      'footer';
}

header {
    grid-area: header;
    background-color: #bfdbfe;
    padding: 10px;
    text-align: center;
}

main {
    grid-area: main;
    background-color: #e0f2fe;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: #bfdbfe;
    padding: 10px;
}

